<%# app/views/users/show.html.erb %>
<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header text-center bg-primary text-white">
      <h2>User Detail</h2>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Name:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted"><%= @user.name %></p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Email:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted"><%= @user.email %></p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Role:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted"><%= @user.role.capitalize %></p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Status:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted">
            <span class="badge <%= @user.status? ? 'bg-success' : 'bg-danger' %>">
              <%= @user.status? ? "Active" : "Inactive" %>
            </span>
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Created At:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted"><%= @user.created_at.strftime("%B %d, %Y") %></p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>Last Updated:</strong></p>
        </div>
        <div class="col-md-8">
          <p class="text-muted"><%= @user.updated_at.strftime("%B %d, %Y") %></p>
        </div>
      </div>
    </div>

    <div class="card-footer text-center">
      <%= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-warning' %>
      <%= link_to 'Delete Event', @user, data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?", turbo: true }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
