<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-center">My Event List</h1>
    <%= link_to 'Create New Event', new_event_path, class: 'btn btn-success btn-sm' %>
  </div>

  <% if @events.any? %>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>No</th>
          <th>Event Name</th>
          <th>Date</th>
          <th>Location</th>
          <th>Stauts</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each_with_index do |event, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to event.name, event_path(event), class: 'text-decoration-none' %></td>
            <td><%= event.date %></td>
            <td><%= event.location %></td>
            <td>
              <!-- Switch for Active/Non-Active -->
              <%= form_with url: toggle_active_event_path(event), method: :patch, local: true do %>
                <div class="form-check form-switch">
                  <%= check_box_tag :status, true, event.status,
                      class: "form-check-input",
                      onchange: "this.form.submit()" %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-end mt-4">
      <%= paginate @events %>
    </div>

  <% else %>
    <div class="alert alert-info text-center">
      No events found.
    </div>
  <% end %>
</div>
